@{
    ViewData["Title"] = "Home Page";
}
<div style="position:sticky; top:500px; z-index:12">
<form class="add-items" style="position:sticky;  left:1000px; top:500px;  z-index:10">
    <input type="text" placeholder="Type for add list" name="myInput" style=" position:relative; left:900px; top:666px; z-index:10; width:800px; height:30px;">
	<button type="button" onclick="addItem()"style=" position:relative; left:900px; top:666px; z-index:10; width:100px; height:30px; background-color:rgb(194, 101, 101)">Add++</button>
</form>
	</div>

<div class="HEADER_1">
	<div class="HEADER_2">,
		<h1 class="HEADER_TYPE">TO DO LİST</h1>
	<ul class="YEL_R">
	</ul>
	<div>
		<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	<div class="YEL_R"></div>
	</div>
	</div>
	
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>
	<div class="YEL_L"></div>

	
	
</div>,
